<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
    </div>
	
  <div class="field">
	<%= f.radio_button :sex, 'Male', :checked => true %> 
  <%= label :sex, 'Male' %>
  	<%= f.radio_button :sex, 'Female', :checked => true %> 
  <%= label :sex, 'Female' %>
   </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
</div>
<div class="field">
    <%= f.label :biography %><br />
    <%= f.text_area :biography %>
</div>

<div class="field">
<%= f.check_box :recieveemails, :checked => true %> 
<%= label :recieveemails, 'I want to recieve emails' %>
<br>
</div>

<div class="actions">
   <%= f.submit %>
</div>
</div>
  
  
  <% end %>
